{# templates/task/new.html.twig #}
{% extends "base.html.twig" %}
{% block body %}
<link href="{{ asset('public\build\app.css') }}" rel="stylesheet"/>

<div class="form">
<h1>Employees</h1>
{{ form_start(form) }}
{# {{ form_label(form.first_name, { 'label_attr': {'class': 'h1'} }) }} #}
{{ form_end(form) }}
</div>
<div class="table">
{{ render (controller('App\\Controller\\TaskController::show')) }}
</div>

{% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}
{% endblock %}